* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

h3,h4,h5 {
    color: #ff7f2a;;
}

body{
   background: #f5f7fa;
   padding-top: 40px;
   padding-bottom: 40px;
   padding-left: 20px;
   padding-right: 20px;
   padding: 20px;
   font-family: Montserrat;
   
}

.wrapper {
    background: white;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 16px;
}

.my-photo {
    width: 370px;
}

.about-me-container {
    
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
    

}

.Contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
}

.contacts-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #525b67;
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}

.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
}

.tech-skills-iten {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 13px;
    color: #ff7f2a;
}

.tech-skills-tex {
    color: #ffffff;
}

.soft-skills-container {
    
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
    
}
.soft-skills-tittle {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

.soft-skills-iten {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 13px;
    color: #ff7f2a;
}

.soft-skills-tex{
    color: #fff;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 23px;
    
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
    text-align: center;
}

.description {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    
    
}

.info-container {
    margin-bottom: 65px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    
}

.projects-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dots {
    color: #a8a8a8;
    font-weight: 100;
}

.projects-item {
    font-weight: 700;
    margin-left: 17px;
}

.projects-container {
    margin-bottom: 55px;
}


.profession {
    font-size: 35px;
}

/* .profession:hover {
    cursor: pointer;
    color: #3A2;
   
} */

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.profession-company{
    color: #000000;
    line-height: 1.2;
    margin-bottom: 5px;
    font-size: 18px;
    
}

.profession-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.profession-divider {
    color: #000;
}

.profession-duties {
    margin-top: 14px;
    margin-bottom: 30px;
    font-size: 18px;
    
}

.profession-duties-iten {
    color: #595959;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

}

.profession-title-hierarchy {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;   
}



/* button styles */







/* CSS */
.button-82-pushable {
font-family: Montserrat;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-82-shadow {
  font-family: Montserrat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
font-family: Montserrat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
font-family: Montserrat;
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-family: Montserrat;
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
    font-family: Montserrat;
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
font-family: Montserrat;
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
 font-family: Montserrat;
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    font-family: Montserrat;
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    font-family: Montserrat;
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    font-family: Montserrat;
  outline: none;
}



/* .button-position {
    justify-self: center;
} */





body {
    margin: 0;
    background:url(https://html5book.ru/wp-content/uploads/2015/10/background54.png);
  }
  .span-shadow {text-align:center}
  .span-shadow span {
    display: inline-block;
    margin: 15px;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
  }
  .span-shadow span:nth-child(1) {background:#3A2F28}
  .span-shadow span:nth-child(1):hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3A2F28;
  }
  .span-shadow span:nth-child(2) {background:#C1F1E4}
  .span-shadow span:nth-child(2):hover { 
    box-shadow: 200px 0 0 0 rgba(0,0,0,.3) inset;
  }
  .span-shadow span:nth-child(3) {background:#D2973D}
  .span-shadow span:nth-child(3):hover {
    box-shadow: 0 0 0 2px #D2973D inset, 0 0 0 4px white inset;
  }
  .span-shadow span:nth-child(4) {
    background: #C76637;
    position: relative;
    top: 0;
    left: 0;
  }
  .span-shadow span:nth-child(4):hover {
    box-shadow: 2px 2px white, 4px 4px #C76637;
    top: -4px;
    left: -4px;
  }





 








  .rotate-shadows {
    width: 220px;
    height: 220px;
    position: relative;
  }
  .rotate-shadows:after,
  .rotate-shadows:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
  }
  .rotate-shadows:before {
    box-shadow: inset 0 20px 0 rgba(0, 250, 250, 0.6), inset 20px 0 0 rgba(0, 200, 200, 0.6), inset 0 -20px 0 rgba(0, 150, 200, 0.6), inset -20px 0 0 rgba(0, 200, 250, 0.6);
    animation: rotate-before 2s -0.5s linear infinite;
  }
  .rotate-shadows:after {
    box-shadow: inset 0 20px 0 rgba(250, 250, 0, 0.6), inset 20px 0 0 rgba(250, 200, 0, 0.6), inset 0 -20px 0 rgba(250, 150, 0, 0.6), inset -20px 0 0 rgba(250, 100, 0, 0.6);
    animation: rotate-after 2s -0.5s linear infinite;
  }
  @keyframes rotate-after {
    0% {transform: rotateZ(0deg) scaleX(1) scaleY(1);}
    50% {transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);}
    100% {transform: rotateZ(360deg) scaleX(1) scaleY(1);}
  }
  @keyframes rotate-before {
    0% {transform: rotateZ(0deg) scaleX(1) scaleY(1);}
    50% {transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);}
    100% {transform: rotateZ(-360deg) scaleX(1) scaleY(1);}
  }